@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Jersey+20&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


/* .jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .playfair-display-sc-bold {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal;
  } */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Playfair Display SC", serif;
    text-decoration: none;
    scroll-behavior: smooth;
    /* color: black; */
  }

  :root{
    --bg-color:#212a34;
    --second-bg-color:#353f4e;
    --text-color:#fff;
    --main-color:#d80404;

  }

  body{
    background:var(--bg-color);
    color: var(--text-color);
  }

  body a{
    color: var(--text-color);

  }

  .header{
    /* border: solid red;    */
    display: flex;         
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--bg-color);
  }

  .logo{

    /* border: 2px solid orange; */
    font-size: 2rem;
    color: red;
    font-weight: 300;
    padding: 0rem;
    font-family: "Great Vibes", sans-serif;
    font-weight: bold;
    
  }
  .navbar{

    /* border: 2px solid yellow; */
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

  }

  .navbar a{
    font-size: 1.2rem;
    color: var(--text-color);
  }

  .navbar a:hover,
  .navbar a:active {
    color: var(--main-color);
  }

  /* HOME */

  section{
    min-height: 100vh; 
    padding: 20px;

  }

  .home{

    /* border: 1px solid #c70b0b; */
    display: flex;
    justify-self: center;
    align-items: center;
    
    

  }

  .home-content{

    width: 70%;

    

  }

  .home-img{

    width: 30%;

  }

  .home-img img{
    width: 100%;
    max-width: 25rem;
    border-radius: 10%;
  }

  .home-content h3{
    font-size: 2rem;
    font-weight: 700;
  }

  .home-content title{
    
  }

  .home-content .name{

    color: var(--main-color);
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    line-height: 1.1;


  }

  .info{
    margin-top: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
  }

  .social-media{
    /* border: 1px solid red; */
    display: flex;
    gap: 2rem;
  }

  .social-media a{

    width: 2.5rem;
    height: 2.5rem;
    font-size:3rem;
    color: var(--main-color);
    margin: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .social-media a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 3rem var(--main-color);
  }

  /* .twitter:hover{

    /* background-size: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border-width: 100px;
    /* display: flex; */
    /* float: none; */ 

  .btn{

    /* border: 3px ridge white; */

    background-color: var(--main-color);
    padding: 1rem 1rem;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    color: var(--second-bg-color);
    letter-spacing: 0.3rem;
    /* text-size-adjust:var(--main-color) */
    color: white;
    position: relative;
    top: 15px;
    left: 175px;
    display: inline;
    box-shadow:0rem 0rem 1rem orangered;
    font-weight: 600;
    


  }

  .btn:hover{
    background-color: var(--main-color);
    color: black;
    box-shadow:0.5rem 0.5rem 0.5rem black;

  }


  /* ABOUT */

  .about{

    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);

  }

  .about-img{

    /* border: 2px solid orange; */
    width: 25%;

  }

  .about-img img{
    width: 100%;
  }

  .about-content{

    /* border: 2px solid yellow; */
    width: 75%;


  }

  .heading{

    text-align: center;
    font-size: 3rem;
}
    
.about-content p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin: 3rem;
}

.about-content h3{
    margin-left: 3rem;
    font-size: 3rem;
}


  span{
color: var(--main-color);
  }


  /* SKILLS */

.skills{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.skills .heading{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skills-container{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.skills-box{
    /* border: 2px solid orange; */
    background-color: var(--second-bg-color);
    width: 20%;
    flex: 1 1 10rem;    /* flex-grow, flex-shrink daraldığı zaman küçülmesine izin ver, flex-basis, başlangıçta kaçtan başlayacak. */
    border-radius: 2rem;
    text-align: center;
    border: 0.2rem solid var(--second-bg-color);   /* hover içindi */
    transition: all 1s ease-in-out;
}

.skills-box:hover{

    border-color: var(--main-color);
    transform: scale(1.02);
    /* transition: all 1s ease-in-out; */
    box-shadow: 0 0 3rem var(--main-color);


}

.skills-box i{

    font-size: 5rem;
    color: var(--main-color);
    
}
.skills-box h3{
    font-size: 2rem;
}
.skills-box p{

    font-size:0.9rem;
    margin: 1rem;
    text-align: center;

}


/* PROJECT */

.projects{
    padding: 3rem;
    background-color: var(--second-bg-color);
}

.projects h2{
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.projects-box{
    flex: 1 1 15rem;
    position: relative;
    overflow: hidden;
}

.projects-box img{
    width: 100%;
    
}

.projects-box:hover img{
    opacity: 0.5;
}

.poz{

    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(50%);
    transition: all 0.7s;
    text-align: center;
    opacity: 0;
    /* align-items: center; */
    

    
}

.poz a{
    font-size: 2rem;
    font-family: "Playfair Display SC", serif;
    color: var(--main-color);
    width: 100%;
}

.projects-box:hover .poz{

    transform: translateY(-50%);
    box-shadow: 1rem 1rem 10rem black;
    opacity: 1;
    font-weight: bold;

    /* box-shadow: black; */
    /* text-align: center; */
    /* align-items: center; */
    /*  */

}

.hidden-message{
    display: none;
    margin: 40px;
    position: relative; 
}

.btn:focus + .hidden-message {
    display: block;
    font-size: 1rem;
}